* {
  box-sizing: border-box;
}

:root {
  --red: #ed1d24;
  --black: #1a1b1d;
  --lightgrey: #f5f5f5;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* Titles */
h3 {
  font-size: 2.4rem;
  line-height: 1.8;
  font-weight: 700;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: 500;
}

/* HEADER */
header {
  width: 100%;
  margin-top: 2rem;
  /* border-bottom: 1px solid salmon; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header img {
  width: 150px;
}

.menu_container {
  flex: 1;
  margin-left: 4rem;
}

.menu_container ul {
  display: flex;
}

.menu_container a {
  color: inherit;
  text-decoration: none;
}

.menu_container li.active {
  color: var(--red);
}

.menu_container a:hover {
  color: var(--red);
}

.menu_container ul a li {
  margin-right: 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.menu_container ul a:last-child {
  margin-right: 0;
}

.search_container {
  flex: 1;
  margin-left: 1rem;
}

.search_container input[type="text"] {
  width: 100%;
  font-size: 1.6rem;
  outline: none;
  border-radius: 5px;
  color: #999;
  border: 1px solid rgba(84, 84, 84, 0.32);
  padding: 1rem 0.5rem;
  background-color: #f5f6f7;
}

.connect_container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.connect_container button {
  margin-right: 2rem;
}
.connect_container .login {
  margin-right: 0;
}

.connect_container .disconnect {
  padding: 0.8rem 0.5rem;
  font-size: inherit;
}

.connect_container span {
  width: 100px;
}

/* CHARACTERS - HOME / COMICS */

.body_wrapper {
  background-color: var(--lightgrey);
  padding-top: 3rem;
}

.characters_container,
.comics_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters__inner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1rem;
  max-width: 290px;
  width: 100%;
  background-color: var(--black);
  color: white;
  text-align: left;
  font-size: 1.6rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

#pos_star {
  position: absolute;
  top: 0;
  left: 0;
  font-size: xx-large;
  cursor: pointer;
  z-index: 5;
}

.star {
  color: #999;
}

.starRed {
  color: var(--red);
}

.characters__inner a {
  color: inherit;
}

.characters__inner * {
  transition: all 0.35s;
}

.characters__inner img {
  max-width: 100%;
  vertical-align: top;
}

.characters__inner figcaption {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}

.characters__inner h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  line-height: 24px;
  margin: 3px 0;
  padding-bottom: 1rem;
}

.characters__inner p {
  font-size: 1.6rem;
  margin-top: 3rem;
  font-weight: 500;
}
.characters__inner:hover figcaption {
  height: calc(85%);
}

/* CHARACTER */
.character_wrapper {
  height: calc(100vh - 60px);
}

.character_container {
  display: flex;
  justify-content: space-between;
}
.character_container .character_image {
  height: 60rem;
}
.character_container .character_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character_container .character_details {
  flex: 1;
  padding: 4rem;
  background-color: #fff;
}

.character_details .character_title h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.character_details .character_desc {
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  padding: 2rem 0;
}

.character_details .character_desc h5 {
  line-height: 1.8;
  margin-bottom: 0.5rem;
}
.character_details .character_desc p {
  line-height: 1.4;
}
.character_details .character_comics {
  margin-top: 1rem;
  overflow: hidden;
  height: 30rem;
  overflow-y: scroll;
}

.character_details .character_comics .comic_tab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.character_details .character_comics .comic_tab > div {
  padding: 2rem;
  flex: 1;
}

.character_details .character_comics > p,
.character_details .character_desc p:first-child {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 3rem 0;
  text-align: center;
  color: var(--red);
}

/* COMICS PAGE */
.comics__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  max-width: 200px;
  width: 100%;
}

.comics__inner #pos_star {
  top: -16px;
  left: -16px;
}

.comics__inner img {
  width: 100%;
  object-fit: cover;
}

.comics__inner .comics_details {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background: white;
  min-height: 20rem;
}

.comics__inner .comics_details h3 {
  font-size: 2rem;
  line-height: 1.4;
}

.comics__inner .comics_details p {
  line-height: 1.4;
  font-size: 1.5rem;
}

.comics__inner .comics_details .hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 10rem;
}

/* BOOKMARK */
.row {
  padding: 0 3.2rem;
}
.bookmark_container {
  display: flex;
}

.bookmark_container .bookmark_character,
.bookmark_container .bookmark_comics {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  border-right: 1px solid var(--black);
}

.bookmark_container .bookmark_comics {
  border: none;
}

.bookmark_character > p,
.bookmark_comics > p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  color: #999;
}

/* SIGNUP / LOGIN  */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto 0;
}

.form_signup h2,
.form_login h2 {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 1.6;
  font-weight: 700;
}

.form_signup,
.form_login {
  width: 275px;
  margin: auto;
  outline: none;
  font-size: 1.6rem;
}

.form_signup input:not(input[type="submit"]),
.form_login input:not(input[type="submit"]) {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  outline: none;
  border-radius: 5px;
  color: #999;
  border: 1px solid rgba(84, 84, 84, 0.32);
  padding: 0.8rem 0.5rem;
  background-color: #fff;
}

.form_signup input[type="submit"],
.form_login input[type="submit"] {
  width: 100%;
  background-color: var(--red);
  border: none;
  color: #fff;
  padding: 1.2rem 0.5rem;
  margin: 1rem 0;
  font-size: 1.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.form .invalid-feedback {
  color: var(--red);
  margin: 1rem 0;
}

.form a {
  color: var(--red);
  font-size: 1.3rem;
  margin-top: 1rem;
  text-decoration: none;
}
